


header {
    background-color: #0f334f;
    width: 100%;
    height: 70PX;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 80px
    
    
}

.navigation a {
    color: rgb(183, 161, 224);
    text-decoration: none;
    font-size: 1.3em;
    font-weight: 500;
    margin-right: 20px;
}
    
    .navigation a:hover{
        color: #601cfc;
    }

main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.logo{
    text-decoration: none;
    color: #3a6cf4;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}
.name_page{
    text-decoration: none;
    color: #5d6b8f;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}
.name_page:hover {
    color: #737fa0;
    transform: scale(1.1);
}

        body {
    font-family: Arial, sans-serif;
}

form {
    max-width: 400px;
    margin: 0 auto;
 
}



label {
    display: block;
    margin-bottom: 8px;
    
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.error {
    color: #ff0000;
}




@media only screen and (max-width: 600px) {
    header {
        padding: 10px;
    }

    .logo {
        font-size: 1.2em;
        margin-right: 10px;
    }

    .navigation a {
        font-size: 0.9em;
        margin-right: 10px;
    }

    section {
        padding: 50px 10px;
    }

    h1 {
        font-size: 1.5em;
    }

    #members li {
        font-size: 1em;
    }

    footer {
        padding: 10px;
    }
}